DB_USER=postgres.fnifncpsiqqbqvoudcnu
DB_PASSWORD=[ ]
DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres

NEXT_PUBLIC_SUPABASE_URL=https://fnifncpsiqqbqvoudcnu.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_BRkjEOfGXhWTe2dLAG15Aw_sciCAcIo

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=[node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"]